In [4]:
import pandas as pd
import numpy as np

In [5]:
# loading full dataset into a dataframe
data_f = pd.read_csv("C:/Users/rvrma/Documents/3rd semester/Massive Data Mining/project/ml-1m/ratings.csv")
data_f

         userId  movieId  rating  timestamp
0             1     1193       5  978300760
1             1      661       3  978302109
2             1      914       3  978301968
3             1     3408       4  978300275
4             1     2355       5  978824291
...         ...      ...     ...        ...
1000204    6040     1091       1  956716541
1000205    6040     1094       5  956704887
1000206    6040      562       5  956704746
1000207    6040     1096       4  956715648
1000208    6040     1097       4  956715569

[1000209 rows x 4 columns]

In [6]:
# dividing datframe into the training and testing data
index = data_f.groupby('userId').apply(lambda x: x.sample(frac=0.8, random_state = 0)).index.get_level_values(1)
# creating testing and training files
train = data_f.iloc[index, :].reset_index(drop = True)
test = data_f.drop(index).reset_index(drop = True)

In [7]:
# now copying and saving the test and train files as csv files
train.to_csv('train.csv') 
test.to_csv('test.csv')